 @import url('https://fonts.googleapis.com/css?family=Arvo');
 @import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
 body {
     margin: 0;
 }
 /***************************************FORSIDESTART******************************************/
 
 .page-container {
     display: grid;
     grid-template-columns: 12% 36% 36% 16%;
     grid-template-rows: 500px;
     grid-gap: 20px;
     margin: 20px;
 }
 
 #form {
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start: 1;
     grid-row-end: 2;
     display: grid;
     grid-template-columns: 1fr;
     grid-template-rows: 1fr 1fr;
     border: 1px solid black;
 }
 
 #billede {
     grid-column-start: 3;
     grid-column-end: 4;
     grid-row-start: 1;
     grid-row-end: 2;
 }
 
 #overskrift {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 1;
     grid-row-end: 2;
     margin-left: 40px;
     font-family: "Josefin Slab";
     font-size: 15px;
     margin-top: 10px;
 }
 
 form {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start: 2;
     grid-row-end: 3;
     display: flex;
     justify-content: center;
     flex-direction: column;
     margin-left: 40px;
     margin-right: 40px;
     margin-bottom: 40px;
     font-family: "arvo";
     font-size: 15px;
 }
 
 img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 
 #besked {
  height: 150px;
}
#button {
    height: 30px;
    width: 70px;
    position: relative;
    top: -15px;
    font-family: "arvo";
    font-size: 15px;
}
 @media only screen and (max-width: 1350px) {
     .page-container {
         display: grid;
         grid-template-columns: 50% 50%;
         grid-template-rows: 500px;
         grid-gap: 20px;
         margin: 20px;
         margin-right: 40px;
     }
     #form {
         grid-column-start: 1;
         grid-column-end: 2;
         grid-row-start: 1;
         grid-row-end: 2;
     }
     #billede {
         grid-column-start: 2;
         grid-column-end: 3;
         grid-row-start: 1;
         grid-row-end: 2;
     }
 }
 
 @media only screen and (max-width: 850px) {
     .page-container {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 500px 500px;
         grid-gap: 20px;
         margin: 20px;
     }
     #form {
         grid-column-start: 1;
         grid-column-end: 2;
         grid-row-start: 1;
         grid-row-end: 2;
     }
     #billede {
         grid-column-start: 1;
         grid-column-end: 2;
         grid-row-start: 2;
         grid-row-end: 3;
     }
 }
